.main {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}

.mainItem {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 40px 180px 50px;
}

.button h3 {
    margin: 0px;
}

.button h4 {
    margin: 0px;
}

.mainItem h2 {
    margin: 0px;
}