#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.swiper-wrapper {
  min-height: 100vh;
}

.swiper {
  width: 100%;
  height: 100%;
  background-color: white;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #ece4e4;

  /* Center slide text vertically */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.swiper {
  background-color: #e0d7d7;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (prefers-color-scheme: dark) {
  .swiper {
    background-color: #2f2f32;
  }
  
  .swiper-slide {
    background: #242426;
  }

  .body {
    background: #242426;
  }
}