.mainShawa {
    width: 100%;
    height: 158px;
    margin-bottom: 12px;
    display: grid;
    grid-template-columns: 130px auto;
    grid-template-rows: 34px 49px 75px;
}

.mainShawaName {
    font-size: 19px;
    color: black;
    margin-top: 11px;
    margin-bottom: 0px;
}

.mainShawaIngridients {
    font-size: 11px;
    color: black;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

.img {
    grid-row-start: 1;
    grid-row-end: 4;
}

.buttonDiv {
    grid-column-start: 2;
    height: 70px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4px;
    display: flex;
}

.buttonShava {
    background-color: rgb(224, 2, 2);
    height: 70px;
    border-radius: 7px;
    min-width: 57px;
    border: 1px solid rgb(174, 4, 4);
}

.buttonShava h4 {
    font-size: 8px;
    margin-top: 3px;
    margin-bottom: 3px;
    color: aliceblue;
    font-size: 20px;
}

.buttonShava p {
    margin-top: 0px;
    margin-bottom: 0px;
    color: aliceblue;
    font-size: 10px;
}

.buttonShava h5 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: aliceblue;
}

.buttonColor0 {
    background-color: rgb(224, 2, 2);
    border: 1px solid rgb(172, 3, 3);
}

.buttonColor1 {
    background-color: rgb(224, 113, 2);
    border: 1px solid rgb(189, 94, 0);
}

.buttonColor2 {
    background-color: rgb(224, 209, 2);
    border: 1px solid rgb(201, 187, 0);
}

.testForIngridients {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (prefers-color-scheme: dark) {
    .mainShawaName {
        color: white;
    }

    .mainShawaIngridients {
        color: rgb(230, 230, 230);
    }

    /* .buttonShava {
        border: 1px solid rgb(174, 4, 4);
    }

    .buttonColor0 {
        border: 1px solid rgb(174, 4, 4);
    }
    
    .buttonColor1 {
        border: 1px solid rgb(224, 112, 0);
    }
    
    .buttonColor2 {
        border: 1px solid rgb(225, 210, 0);
    } */
}

@media (max-width: 361px) {
    .mainShawa {
        width: 100%;
        height: 177px;
        margin-bottom: 12px;
        display: grid;
        grid-template-columns: 115px auto;
        grid-template-rows: 48px 50px 79px;
    }

    .mainShawaName {
        width: 150px;
        margin-left: auto;
        margin-right: auto;
    }

    .mainShawaIngridients {
        width: auto;
        margin-top: 7px;
    }
}